// Table of content
// 1. break points
// 2. colors


/////////////////
//1. break points
/////////////////
$break-large: 960px;
$break-small: 780px;


/////////////////
//2. colors
/////////////////
$mainNavColor: #fff;
$mainNavSize: 24px;